build/
build-ninja/
.vscode/
.git/
**/CMakeFiles/
**/CTestTestfile.cmake
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile
**/*.ninja*
**/*.vcxproj*
**/*.sln*
**/Debug/
**/Release/
**/RelWithDebInfo/
**/MinSizeRel/
**/Testing/
**/x64/
**/*.dir/
*.log
*.user
